<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="burukeyou.admin.mapper.UmsAdminRoleMapper">


    <delete id="deleteByUserIdRoleId">
            delete from ums_admin_role
            <where>
                <if test="userId != null and userId != ''">
                        and user_id = #{userId}
                </if>
                <if test="roleId != null and roleId != ''">
                    and role_id = #{roleId}
                </if>
            </where>
    </delete>
</mapper>