<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="burukeyou.admin.mapper.UmsAdminMapper" >
    <select id="getListByCondition" resultMap="roleOfUser" parameterType="burukeyou.admin.entity.dto.QueryUserConditionDto">
            SELECT admin.id ,
                   admin.nickname,
                   admin.mobile,
                   admin.email,
                   admin.avatar,
                   admin.description,
                   admin.deleted,
                   admin.enabled,
                   admin.create_host,
                   admin.lastlogin_host,
                   admin.lastlogin_time,
                   admin.created_by,
                   admin.created_time,
                   admin.updated_by,
                   admin.updated_time,
                   role.id as roleId,
                   role.code,
                   role.name,
                   role.description as rDescription
            from ums_admin admin left join ums_admin_role ad_ro on admin.id = ad_ro.user_id
            left JOIN ums_roles role  on ad_ro.role_id = role.id
            <where>
                <if test="dto.nickname != null and dto.nickname != ''">
                    and (
                            admin.nickname like CONCAT('%',#{dto.nickname},'%')
                        )
                </if>
                <if test="dto.role  != null and dto.role != ''">
                    and role.code = #{dto.role}
                </if>
                <if test="dto.enabled  != null and dto.enabled != ''">
                    and admin.enabled = #{dto.enabled}
                </if>
                <if test="dto.userId  != null and dto.userId != ''">
                    and admin.id = #{dto.userId}
                </if>
            </where>
         <!--   <choose>
                <when test="'nickname' == orderField">
                    order by admin.nickname
                </when>
                <when test="……">
                    order by
                </when>
                <when test="……">
                    order by
                </when>
                <otherwise>
                    order by admin.id
                </otherwise>
            </choose>
-->

    </select>
    <resultMap id="roleOfUser" type="burukeyou.admin.entity.vo.UmsAdminVO">
        <id property="id" column="id"/>
        <result property="nickname" column="nickname"/>
        <result property="mobile" column="mobile"/>
        <result property="email" column="email"/>
        <result property="avatar" column="avatar"/>
        <result property="description" column="description"/>
        <result property="deleted" column="deleted"/>
        <result property="enabled" column="enabled"/>
        <result property="createHost" column="create_host"/>
        <result property="lastloginHost" column="lastlogin_host"/>
        <result property="lastloginTime" column="lastlogin_time"/>
        <result property="createdBy" column="created_by"/>
        <result property="createdTime" column="created_time"/>
        <result property="updatedBy" column="updated_by"/>
        <result property="updatedTime" column="updated_time"/>


        <collection property="roleList" ofType="burukeyou.admin.entity.vo.UmsRoleVO">
            <id property="id" column="roleId"/>
            <result property="code" column="code"/>
            <result property="name" column="name"/>
            <result property="description" column="rDescription"/>
        </collection>
    </resultMap>
</mapper>